<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{email}}</h1>
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<h3> Upcoming Flights: </h3>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Num</th>
	<th>Airline Name</th>
	<th>Plane ID</th>
	<th>Depart Date-Time</th>
	<th>Depart Airport</th>
	<th>Arrival Date-Time</th>
	<th>Arrival Airport</th>
	<th>Delay Status</th>

{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['airplane_ID']}}</td>
		<td>{{line['depart_date_time']}}</td>
		<td>{{line['depart_airport']}}</td>
		<td>{{line['arrival_date_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['delay_status']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
