<html>
<head>
</head>
<body>
{% if error %}
  <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

{% if not error %}
<h3>Payment</h3>
<p class="error"><strong>Ticket Price:</strong> ${{price}}</p>
  
<div class="row">
<div class="col-50">

</div>
<form action="/customerPurchaseAuth" method="post">
  <label for="cardtype">Card Type</label>
  <select name="cardtype" id="cardtype" required>
    <option value="">--Please choose an option--</option>
    <option value="On Time">Credit</option>
    <option value="Delayed">Debit</option>
  </select>
  <br>
  <label for="ccnum">Card number</label>
  <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
  <div class="row">
    <div class="col-50">
      <label for="expdate">Exp date</label>
      <input type="date" id="expdate" name="expdate" placeholder="2018">
      <br>
      <label for="cname">Name on Card</label>
      <input type="text" id="cname" name="cardname" placeholder="John More Doe">
      <input type="hidden" name="price" value="{{price}}" />
      <input type="hidden" name="flight_num" value="{{line['flight_num']}}" />
      <input type="hidden" name="depart_date_time" value="{{line['depart_date_time']}}" />
      <br>
      <input type="submit" value="Checkout" class="btn">
    </div>
  </div>
  </form>
</div> 
  {% endif %}
  
<a href="/customerSearch">Go back</a>
<a href="/logout">Logout</a>
</body>
</html>