<html>
<head>
</head>
<body>

<h1>Welcome {{email}}</h1>

<h3> Your Upcoming Flights: </h3>

<a href="/customerSearch">Search for additional flights</a>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Num</th>
	<th>Airline Name</th>
	<th>Plane ID</th>
	<th>Depart Date-Time</th>
	<th>Depart Airport</th>
	<th>Arrival Date-Time</th>
	<th>Arrival Airport</th>
	<th>Status</th>

{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['airplane_ID']}}</td>
		<td>{{line['depart_date_time']}}</td>
		<td>{{line['depart_airport']}}</td>
		<td>{{line['arrival_date_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['delay_status']}}</td>
	</tr>
{% endfor %}
</table>
<a href="/">Go back</a>
<a href="/logout">Logout</a>

</body>


</html>
