<html>
<head>
</head>
<body>
<h3> Departing Flights: </h3>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Num</th>
	<th>Airline Name</th>
	<th>Plane ID</th>
	<th>Depart Date-Time</th>
	<th>Depart Airport</th>
	<th>Arrival Date-Time</th>
	<th>Arrival Airport</th>
	<th>Base Price</th>
	<th>Status</th>

{% for line in post1 %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['airplane_id']}}</td>
		<td>{{line['depart_date_time']}}</td>
		<td>{{line['depart_airport']}}</td>
		<td>{{line['arrival_date_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['base_price']}}</td>
		<td>{{line['delay_status']}}</td>
	</tr>
{% endfor %}
</table>

{% if rt %}
	<h3> Returning Flights: </h3>
	<table>
		<th>Flight Num</th>
		<th>Airline Name</th>
		<th>Plane ID</th>
		<th>Depart Date-Time</th>
		<th>Depart Airport</th>
		<th>Arrival Date-Time</th>
		<th>Arrival Airport</th>
		<th>Base Price</th>
		<th>Delay Status</th>

	{% for line in post2 %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['airline_name']}}</td>
			<td>{{line['airplane_id']}}</td>
			<td>{{line['depart_date_time']}}</td>
			<td>{{line['depart_airport']}}</td>
			<td>{{line['arrival_date_time']}}</td>
			<td>{{line['arrival_airport']}}</td>
			<td>{{line['base_price']}}</td>
			<td>{{line['delay_status']}}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

<a href="/publicSearch">Go back</a>
<a href="/logout">Logout</a>

</body>
</html>
