<html>
<head>
</head>
<h1>Airline Staff Register</h1>
<form action="/customerregisterAuth" method="POST">
	<p><label for="username">Username </label><input type="text" name = "username" placeholder="username" required/></p>
	<p><label for="airline_name">Airline Name <input type="text" name = "name" placeholder="name" required/></p>
	<p><label for="password">Password <input type="password" name = "password" placeholder="password" required/></p>
	<p><label for="first_name">First Name <input type="text" name = "first_name" placeholder="first_name" required/></p>
	<p><label for="last_name">Last Name <input type="text" name = "last_name" placeholder="last_name" required/></p>
	<p><label for="birth_date">Birth Date <input type="date" name = "birth_date" placeholder="birth_date" required/></p>
	<p><label for="phone_number">Phone Number <input type="tel" name = "phone_number" placeholder="email_address" required/></p>
	<p><label for="email_address">Email Address <input type="text" name = "email_address" placeholder="phone_number" required/></p>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/login">Go back</a>
</html>
