<html>
<head>
</head>
<h1>Airline Staff Register</h1>
<form action="/registerStaffAuth" method="POST">
	<p><label for="username">Username </label><input type="text" name = "username" placeholder="planelover21" required/></p>
	<p><label for="airline_name">Airline Name <input type="text" name = "airline_name" placeholder="JetBlue" required/></p>
	<p><label for="password">Password <input type="password" name = "password" placeholder="password" required/></p>
	<p><label for="first_name">First Name <input type="text" name = "first_name" placeholder="John" required/></p>
	<p><label for="last_name">Last Name <input type="text" name = "last_name" placeholder="Doe" required/></p>
	<p><label for="birth_date">Birth Date <input type="date" name = "birth_date" placeholder=" " required/></p>
	<p><label for="phone_number">Phone Number(s) <input type="tel" name = "phone_number" placeholder="123-456-7890, 123-456-7891" required/></p>
	<p><label for="email_address">Email Address(s) <input type="text" name = "email_address" placeholder="john@yahoo.com, dan@gmail.com" required/></p>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	
</form>
{% if regPass %}
<p class="regPass"><strong>Registration Successful!</strong></p>
{% endif %}
<a href="/login">Go back</a>
</html>
