<html>
<head>
</head>
<body>
<h1>Welcome {{username}}!</h1>

<a href="/staffAdd">Add a new flight/airplane/airport</a>
<br>
<a href="/staffReport">View ticket selling reports/revenue</a>

<form action="/staffHome/filter" method="POST">
	<h3> Filter Flights: </h3>
	<label for="depAirport"> Departure Airport: </label> <input type="text" name="depAirport" placeholder="JFK"/>
	<br/>
	<label for="arrAirport"> Arrival Airport: </label> <input type="text" name="arrAirport" placeholder="PBI"/>
	<br/>
	<label for="date1"> Date Start*: </label> <input type="date" name="date1" required/>
	<br/>
	<label for="date2"> Date End*: </label> <input type="date" name="date2" required/>
	<br/>
	<input type="submit" value="Filter">
</form>

<h3> Flights: </h3>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<table>
	<th>Flight Num</th>
	<th>Airline Name</th>
	<th>Plane ID</th>
	<th>Depart Date-Time</th>
	<th>Depart Airport</th>
	<th>Arrival Date-Time</th>
	<th>Arrival Airport</th>
	<th>Base Price</th>
	<th>Delay Status</th>
	<th>View Customers</th>
	<th>View Ratings</th>
	<th>Change Status</th>

{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['airplane_id']}}</td>
		<td>{{line['depart_date_time']}}</td>
		<td>{{line['depart_airport']}}</td>
		<td>{{line['arrival_date_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['base_price']}}</td>
		<td>{{line['delay_status']}}</td>
		<td>
			<form action="/staffHome/seating" method="post">
				<input type="hidden" name="flight_num" value="{{line['flight_num']}}" />
				<input type="hidden" name="depart_date_time" value="{{line['depart_date_time']}}" />
				<input type="submit" name="view_customers" value="View Customers">
			</form>
		</td>
		<td>
			<form action="/staffHome/rating" method="post">
				<input type="hidden" name="flight_num" value="{{line['flight_num']}}" />
				<input type="hidden" name="depart_date_time" value="{{line['depart_date_time']}}" />
				<input type="submit" name="ratings" value="View Ratings">
			</form>
		</td>
		<td>
			<form action="/staffHome/status" method="post">
				<input type="hidden" name="flight_num" value="{{line['flight_num']}}" />
				<input type="hidden" name="depart_date_time" value="{{line['depart_date_time']}}" />
			{% if not statChange %}		
				<select name="statusVal" id="statusVal" required>
					<option value="">--Please choose an option--</option>
					<option value="On Time">On Time</option>
					<option value="Delayed">Delayed</option>
					<option value="Cancelled">Cancelled</option>
				</select>
				<input type="submit" name="changeStatus" value="Change Status">
			</form>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% if statChange %}
<p class="statChange"><strong>Status Changed!</strong></p>
{% endif %}

{% if filtered %}
<a href="/staffHome">Return to default view</a>
{% endif %}
<a href="/logout">Logout</a>

</body>
</html>
