<html>
<head>
</head>
<body>
<form action="/addPlane" method="POST">
	<h2>Add an airplane</h2>
	<input type="text" name = "airplane_id" placeholder="Airplane ID" required/> </br>
    <input type="text" name = "airline_name" placeholder="Airline" required/> </br>
    <input type="text" name = "seat_capacity" placeholder="Seat Capacity" required/> </br>
	<input type="text" name = "manufacturing_company" placeholder="Manufacturing Company" required/> </br>
	<input type="text" name = "age" placeholder="Age" required/> </br>
	<input type="submit" value = Submit />
</form>

<form action="/addPort" method="POST">
	<h2>Add an airport</h2>
	<input type="text" name = "name" placeholder="Airport Name" required/> </br>
    <input type="text" name = "city" placeholder="City" required/> </br>
    <input type="text" name = "country" placeholder="Country" required/> </br>
    <input type="text" name = "type" placeholder="Airport Type" required/> </br>
	<input type="submit" value = Submit />
</form>

{% if sub_pass %}
<p class="regPass"><strong>Airport successfully added!</strong></p>
{% endif %}

<a href="/logout">Logout</a>

</body>


</html>
